<form>
  Tariff ID
  <input type="text" ng-model="Data.tariffID" />
  <br/> Vehicle Type
  <input type="text" ng-model="Data.tariffVehicleType" />
  <br/> Base Tariff
  <input type="text" ng-model="Data.baseTariff" />
  <br/> Peak Tariff
  <input type="text" ng-model="Data.peakTariff" />
  <br/>

  <button ng-click="SaveData()">Save New Data</button>
  <button ng-click="DeleteData(Data)">delete Data</button>
  <button ng-click="UpdateData(Data)">Save Changes Data</button>

</form>
<table>
  <tr>
    <td>tariffID</td>
    <td>tariffVehicleType</td>
    <td>baseTariff</td>
    <td>peakTariff</td>
    <td>Edit City</td>
    <td>Delete City</td>
  </tr>
  <tr ng-repeat="c in allData">
    <td>{{c.tariffID}}</td>
    <td>{{c.tariffVehicleType}}</td>
    <td>{{c.baseTariff}}</td>
    <td>{{c.peakTariff}}</td>
    <td><button ng-click="EditData(c)" class="btn btn-primary">Edit City</button></td>
    <td><button ng-click="DeleteData(c)" class="btn btn-primary">Delete City</button></td>
  </tr>
</table>